CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
/doc*

# KiCad
pcb/*.000
pcb/*.bak
pcb/*.bck
pcb/*.kicad_pcb-bak
pcb/*.kicad_sch-bak
pcb/*-backups/
pcb/*.kicad_prl
pcb/*.sch-bak
pcb/*~
pcb/_autosave-*
pcb/*.tmp
pcb/*-save.pro
pcb/*-save.kicad_pcb
pcb/fp-info-cache
pcb/*.zip